@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-envoy: 0 128 255;
    --color-process: 255 192 5;
    --color-resolved: 34 139 34;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
}



